<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="pushNotification">
      <h2 data-cy="pushNotificationDetailsHeading">
        <span jhiTranslate="calendarApp.pushNotification.detail.title">Push Notification</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="calendarApp.pushNotification.id">Id</span></dt>
        <dd>
          <span>{{ pushNotification.id }}</span>
        </dd>
        <dt><span jhiTranslate="calendarApp.pushNotification.title">Title</span></dt>
        <dd>
          <span>{{ pushNotification.title }}</span>
        </dd>
        <dt><span jhiTranslate="calendarApp.pushNotification.content">Content</span></dt>
        <dd>
          <span>{{ pushNotification.content }}</span>
        </dd>
        <dt><span jhiTranslate="calendarApp.pushNotification.userId">User Id</span></dt>
        <dd>
          <span>{{ pushNotification.userId?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/push-notification', pushNotification.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
