<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="event">
      <h2 data-cy="eventDetailsHeading"><span jhiTranslate="calendarApp.event.detail.title">Event</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="calendarApp.event.id">Id</span></dt>
        <dd>
          <span>{{ event.id }}</span>
        </dd>
        <dt><span jhiTranslate="calendarApp.event.title">Title</span></dt>
        <dd>
          <span>{{ event.title }}</span>
        </dd>
        <dt><span jhiTranslate="calendarApp.event.location">Location</span></dt>
        <dd>
          <span>{{ event.location }}</span>
        </dd>
        <dt><span jhiTranslate="calendarApp.event.startTime">Start Time</span></dt>
        <dd>
          <span>{{ event.startTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="calendarApp.event.endTime">End Time</span></dt>
        <dd>
          <span>{{ event.endTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="calendarApp.event.notes">Notes</span></dt>
        <dd>
          <span>{{ event.notes }}</span>
        </dd>
        <dt><span jhiTranslate="calendarApp.event.sendPushNotification">Send Push Notification</span></dt>
        <dd>
          <span>{{ event.sendPushNotification }}</span>
        </dd>
        <dt><span jhiTranslate="calendarApp.event.sendEmailNotification">Send Email Notification</span></dt>
        <dd>
          <span>{{ event.sendEmailNotification }}</span>
        </dd>
        <dt><span jhiTranslate="calendarApp.event.notificationTime">Notification Time</span></dt>
        <dd>
          <span>{{ event.notificationTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="calendarApp.event.status">Status</span></dt>
        <dd>
          <span>{{ event.status }}</span>
        </dd>
        <dt><span jhiTranslate="calendarApp.event.userId">User Id</span></dt>
        <dd>
          <span>{{ event.userId?.id }}</span>
        </dd>
        <dt><span jhiTranslate="calendarApp.event.tagId">Tag Id</span></dt>
        <dd>
          <div *ngIf="event.tagId">
            <a [routerLink]="['/tag', event.tagId.id, 'view']">{{ event.tagId.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/event', event.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
