<div>
  <h2 id="page-heading" data-cy="EventHeading">
    <span jhiTranslate="calendarApp.event.home.title">Events</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="calendarApp.event.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-event"
        [routerLink]="['/event/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="calendarApp.event.home.createLabel"> Create a new Event </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="events?.length === 0">
    <span jhiTranslate="calendarApp.event.home.notFound">No Events found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="events && events.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="calendarApp.event.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="title">
            <div class="d-flex">
              <span jhiTranslate="calendarApp.event.title">Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="location">
            <div class="d-flex">
              <span jhiTranslate="calendarApp.event.location">Location</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="startTime">
            <div class="d-flex">
              <span jhiTranslate="calendarApp.event.startTime">Start Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="endTime">
            <div class="d-flex">
              <span jhiTranslate="calendarApp.event.endTime">End Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="notes">
            <div class="d-flex">
              <span jhiTranslate="calendarApp.event.notes">Notes</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sendPushNotification">
            <div class="d-flex">
              <span jhiTranslate="calendarApp.event.sendPushNotification">Send Push Notification</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sendEmailNotification">
            <div class="d-flex">
              <span jhiTranslate="calendarApp.event.sendEmailNotification">Send Email Notification</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="notificationTime">
            <div class="d-flex">
              <span jhiTranslate="calendarApp.event.notificationTime">Notification Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="calendarApp.event.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userId.id">
            <div class="d-flex">
              <span jhiTranslate="calendarApp.event.userId">User Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tagId.id">
            <div class="d-flex">
              <span jhiTranslate="calendarApp.event.tagId">Tag Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/event', event.id, 'view']">{{ event.id }}</a>
          </td>
          <td>{{ event.title }}</td>
          <td>{{ event.location }}</td>
          <td>{{ event.startTime | formatMediumDatetime }}</td>
          <td>{{ event.endTime | formatMediumDatetime }}</td>
          <td>{{ event.notes }}</td>
          <td>{{ event.sendPushNotification }}</td>
          <td>{{ event.sendEmailNotification }}</td>
          <td>{{ event.notificationTime | formatMediumDatetime }}</td>
          <td>{{ event.status }}</td>
          <td>
            {{ event.userId?.id }}
          </td>
          <td>
            <div *ngIf="event.tagId">
              <a [routerLink]="['/tag', event.tagId.id, 'view']">{{ event.tagId.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/event', event.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/event', event.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(event)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="events && events.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
