<div>
  <h2 id="page-heading" data-cy="TagHeading">
    <span jhiTranslate="calendarApp.tag.home.title">Tags</span>

    <div class="d-flex float-end btn-group">
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tag"
        [routerLink]="['/my-tags/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="calendarApp.tag.home.createLabel"> Create a new Tag </span>
      </button>
    </div>
  </h2>
<br/>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tags?.length === 0">
    <span jhiTranslate="calendarApp.tag.home.notFound">No Tags found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="tags && tags.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="calendarApp.tag.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="iconName">
            <div class="d-flex">
              <span jhiTranslate="calendarApp.tag.iconName">Icon Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="color">
            <div class="d-flex">
              <span jhiTranslate="calendarApp.tag.color">Color</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tag of tags; trackBy: trackId" data-cy="entityTable">
          <td>{{ tag.name }}</td>
          <td>
            <fa-icon icon="plus" class="fa-1x" *ngIf="tag.iconName == 'plus'"></fa-icon>
            <fa-icon icon="home" class="fa-1x" *ngIf="tag.iconName == 'home'"></fa-icon>
            <fa-icon icon="calendar" class="fa-1x" *ngIf="tag.iconName == 'calendar'"></fa-icon>
            <fa-icon icon="envelope" class="fa-1x" *ngIf="tag.iconName == 'envelope'"></fa-icon>
            <fa-icon icon="eye" class="fa-1x" *ngIf="tag.iconName == 'eye'"></fa-icon>
          </td>
          <td>
            <fa-icon icon="circle" class="fa-1x" style="{{'color: ' + tag.color}}"></fa-icon>
          </td>
          <td class="text-end">
            <div class="btn-group">

              <button type="submit" (click)="delete(tag)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="tags && tags.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
