<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-user-settings-heading"
        data-cy="UserSettingsCreateUpdateHeading"
        jhiTranslate="calendarApp.userSettings.home.createOrEditLabel"
      >
        Create or edit a User Settings
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="calendarApp.userSettings.id" for="field_id">Id</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="calendarApp.userSettings.weekFirstDay" for="field_weekFirstDay">Week First Day</label>
          <input
            type="text"
            class="form-control"
            name="weekFirstDay"
            id="field_weekFirstDay"
            data-cy="weekFirstDay"
            formControlName="weekFirstDay"
          />
          <div
            *ngIf="editForm.get('weekFirstDay')!.invalid && (editForm.get('weekFirstDay')!.dirty || editForm.get('weekFirstDay')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('weekFirstDay')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('weekFirstDay')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 20 }"
            >
              This field cannot be longer than 20 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="calendarApp.userSettings.weekNumber" for="field_weekNumber">Week Number</label>
          <input
            type="checkbox"
            class="form-check"
            name="weekNumber"
            id="field_weekNumber"
            data-cy="weekNumber"
            formControlName="weekNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="calendarApp.userSettings.keepTrash" for="field_keepTrash">Keep Trash</label>
          <input type="checkbox" class="form-check" name="keepTrash" id="field_keepTrash" data-cy="keepTrash" formControlName="keepTrash" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="calendarApp.userSettings.emailLanguage" for="field_emailLanguage">Email Language</label>
          <input
            type="text"
            class="form-control"
            name="emailLanguage"
            id="field_emailLanguage"
            data-cy="emailLanguage"
            formControlName="emailLanguage"
          />
          <div
            *ngIf="
              editForm.get('emailLanguage')!.invalid && (editForm.get('emailLanguage')!.dirty || editForm.get('emailLanguage')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('emailLanguage')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 10 }"
            >
              This field cannot be longer than 10 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="calendarApp.userSettings.userId" for="field_userId">User Id</label>
          <select
            class="form-control"
            id="field_userId"
            data-cy="userId"
            name="userId"
            formControlName="userId"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
