<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="userSettings">
      <h2 data-cy="userSettingsDetailsHeading"><span jhiTranslate="calendarApp.userSettings.detail.title">User Settings</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="calendarApp.userSettings.id">Id</span></dt>
        <dd>
          <span>{{ userSettings.id }}</span>
        </dd>
        <dt><span jhiTranslate="calendarApp.userSettings.weekFirstDay">Week First Day</span></dt>
        <dd>
          <span>{{ userSettings.weekFirstDay }}</span>
        </dd>
        <dt><span jhiTranslate="calendarApp.userSettings.weekNumber">Week Number</span></dt>
        <dd>
          <span>{{ userSettings.weekNumber }}</span>
        </dd>
        <dt><span jhiTranslate="calendarApp.userSettings.keepTrash">Keep Trash</span></dt>
        <dd>
          <span>{{ userSettings.keepTrash }}</span>
        </dd>
        <dt><span jhiTranslate="calendarApp.userSettings.emailLanguage">Email Language</span></dt>
        <dd>
          <span>{{ userSettings.emailLanguage }}</span>
        </dd>
        <dt><span jhiTranslate="calendarApp.userSettings.userId">User Id</span></dt>
        <dd>
          <span>{{ userSettings.userId?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/user-settings', userSettings.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
